.header {
    position: relative;
    background: linear-gradient(45deg, var(--gradient-mobile-nav-start), var(--gradient-mobile-nav-end));
    z-index: 0;
    border-bottom-left-radius: 5rem;
}

.headerHome{
    overflow: hidden;
}

.headerBg {
    position: absolute;
    z-index: -1;
    top: -65rem;
    right: -50rem;
    max-width: 160rem;
}

.navBar {
    gap: 6rem;
}

.navToggler {
    border: none;
    outline: none;
}

.navToggler span {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navToggler:focus {
    border: none;
    outline: none;
}

.section {
    padding: 1rem;
}

.section h1 {
    color: var(--white);
    font-size: 60px;
    font-weight: var(--font-weight-medium);
}

.section p {
    font-size: 18px;
    color: var(--white);
    margin-top: 1rem;
}

.buttons {
    gap: 1rem;
    padding-block: 4rem;
}

.buttonText{
    color: var(--white);
    border-color: var(--white);
}

.buttonPrimary{
    color: var(--very-light-red);
    background-color: var(--white);
}

.buttonText, .buttonPrimary{
    border-radius: 5rem;
    padding: .75rem 1.5rem;
    font-weight: var(--font-weight-black);
    text-decoration: none;
}

.buttonText:hover {
    background-color: var(--white);
    color: var(--very-light-red);
}

.buttonPrimary:hover {
    background-color: var(--very-light-red);
    color: var(--white);
}


@media (max-width: 768px) {
    .headerBg {
        top: -16rem;
        right: -41rem;
    }
    .navBar {
        gap: 0;
    }

    .navbarCollapse {
        position: absolute;
        top: 90%;
        right: 0;
        background-color: var(--white);
        z-index: 1000;
        width: 80%;
        padding: 1.5rem 1.2rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -2px rgba(0, 0, 0, 0.2);
    }
    
    .navbarCollapse.show {
        display: flex;
    }
    
    .section {
        padding: 1rem;
    }

    .section h1 {
        font-size: 40px;
    }

    .buttons {
        padding-block: 1.5rem;
    }
}