.authButtons {
    gap: 1rem;
    flex-direction: row;
}

.buttonText{
    color: var(--grayish-blue);
}

.buttonPrimary{
    color: var(--very-light-red);
    background-color: var(--white);
}

.buttonText, .buttonPrimary{
    border-radius: 5rem;
    padding: .75rem 1.5rem;
    font-weight: var(--font-weight-black);
    text-decoration: none;
}

.buttonText:hover, .buttonPrimary:hover {
    background-color: var(--very-light-red);
    color: var(--white);
}

@media (max-width: 768px) {
    .authButtons {
        flex-direction: column;
        gap: 0;
    }

    .buttonText{
        color: var(--very-dark-black-blue);
    }

    .buttonPrimary{
        color: var(--white);
        background-color: var(--very-light-red);
    }

    .customHr {
        width: 100%;
        border: none;        
        height: 1px;         
        background-color: var(--grayish-blue);
        margin: 10px 0 0px;
    }
}