.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  display: block;
}

.sidenav a:hover {
  color: #000;
}

.main {
  padding: 0px 10px;
}

@media (max-width: 768px) {
  .sidenav {
    position: static;
    width: 100% !important;
  }

  .main {
    margin-left: 6px !important;
  }
}