#registernsk{
  background-color: var(--very-grey-blue);
  margin: 45px;
}

.sidebar {
  padding-top: 25px;
}

.stepCircle {
  display: inline-block;
  width: 35px;
  height: 30px;
  line-height: 30px;
  background-color: var(--grayish-blue);
  color: var(--very-dark-black-blue);
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.activeStepCircle {
  background-color: var(--very-light-red);
  color: var(--white);
}

.activeText {
  font-weight: bold;
  color: var(--very-light-red);
  font-size: 18px;
}

.active {
  font-weight: bold;
}
