@import "_variables.css";
@import "_auth.css";
@import "_msg.css";
@import '../components/Home/Home.module.css';

html,
body {
    font-family: var(--font-overpass);
    background-color: var(--white);
}
h1,h2 {
    font-family: var(--font-ubuntu);
    color : var(--very-dark-blue);
}
p, span {
    font-family: var(--very-dark-grayish-blue);
}

a {
  color: inherit;
  text-decoration: none;
}


